{% load static %}

<!doctype html>
<html lang="en" >

<head>

    <meta charset="utf-8" />
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- App favicon -->
    <link rel="shortcut icon" href="/static/images/favicon.ico">

    {%  block css%}        
    {% endblock%}
    
</head>

<body data-sidebar="dark">


<div id="layout-wrapper">
<!-- ==================================================================-->
                         <!-- VERTICAL LAYOUT HEADER & SIDEBAR-->
<!-- ==================================================================-->
 {% block header %}
{% include 'partial/header.html' %}  
{% endblock %}          
{% block sidebar %}
{% include 'partial/sidebar.html' %}   
{% endblock %}       

<!-- ==================================================================-->
                         <!-- HORIZONTAL LAYOUT HEADER-->
<!-- ==================================================================-->
{% comment %} {% block header %}
 {% include 'partial/hori-header.html' %}  
{% endblock %}   {% endcomment %}

{% block content %}


{% endblock %}

{% block footer %}
{% endblock %}


{% block rightsidebar %}
{% endblock %}

{% block javascript %}
{% endblock %}
</body>
</html>

