{% extends "partial/base.html" %}
{% load static %}

{% block css %}
    {% include 'partial/css.html' %} 
{% endblock %}


{% block content %}
           
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0">Offre d'emploi</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Recherche</a></li>
                                <li class="breadcrumb-item active">Emploi</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>




<form method="post">
        {% csrf_token %}
        {{form|safe}}
        <button class="btn btn-primary" type="Submit">Recherche </button>
</form>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">



                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    
                   
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Intitule</th>
                        <th>Description</th>
                        <th>Alternance</th>
                        <th>nomLieuTravail</th>                        
                        <th>Date</th>
                        <th>entreprise</th>
                        

                    </tr>
                    </thead>

                    <tbody>
                        
                        {% for donnee in context.bdd %}
                          
                        <tr>
                            <td>{{donnee.id}}</td>
                            <td>{{donnee.intitule}}</td>
                            <td>{{donnee.description}}</td>                                                  
                            <td>{{donnee.alternance}}</td>
                            <td>{{donnee.nomLieuTravail}}</td>                           
                            <td>{{donnee.dateCreation}}</td>
                            <td>{{donnee.entreprise}}</td>
                                                                                                          
                        </tr>

                       
                        {% endfor %}

        


                        
                    </tbody>
                </table>
                                       
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->


            {% endblock %}



            {% block footer %}
            {% include 'partial/footer.html' %}   
            {% endblock %}
            
            {% block rightsidebar %}
            {% include 'partial/rightsidebar.html' %}   
            {% endblock %}
            
            {% block javascript %}
            
            <!-- JAVASCRIPT -->
            <!-- JAVASCRIPT -->
            <script src="{% static 'js/pages/traduction.js'%}"></script>
            <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
            <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
            <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
            <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
            <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
            <script src="{% static 'libs/waypoints/lib/jquery.waypoints.min.js' %}"></script>
            <script src="{% static 'libs/jquery.counterup/jquery.counterup.min.js' %}"></script>
            
            <!-- Required datatable js -->
            <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
            <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
            <!-- Buttons examples -->
            <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
            <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
            <script src="{% static 'libs/jszip/jszip.min.js' %}"></script>
            <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
            <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
            <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
            <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
            <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
            
            <!-- Responsive examples -->
            <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
            <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
            
            <!-- Datatable init js -->
            <script src="{% static 'js/pages/datatables.init.js' %}"></script>
            
            <script src="{% static 'js/app.js' %}"></script>
            {% endblock %}
            