{% extends "partial/base.html" %}
{% load static %}

{% block css %}
    {% include 'partial/css.html' %} 

    
{% endblock %}


{% block content %}



 <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
           
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0">Chatbot</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Assistance</a></li>
                                            <li class="breadcrumb-item active">Offre</li>
                                        </ol>
                                    </div>                                 

                                </div>
                            </div>
                        </div>


                    <form method="POST" class="post-form w-50 p-3" enctype="multipart/form-data">
                    <b><p>Veuillez exprimez vos besoin à l'assistant virtuel</p></b>
                        {% csrf_token %}
                         {{ form|safe}}
                        <button class="btn btn-primary" type="Submit">Envoie</button>

                      </form>



                    
                      <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <strong><h5> Réponse Assistance : </h5></strong>
                                <div class="card-body text">
                                   




                                  
                                      



                                    
                                    {% if context.list_call%}
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr class="table-active">
                                                <th scope="col">Intitulé</th>
                                                <th scope="col">Lien</th>
                                            </tr>
                                        </thead>
                                    {% for call in context.list_call %}

                                    <tbody>
                                        <tr>
                                        <td class="table-info">{{ call.Intitule }}</td>
                                        <td class="table-info"><br/><b><a href='{{ call.Lien }}' target="_blank">Lien Offre</a></td>
                                   
                                      </tbody>
                                    {% endfor %}                                  
                                </table>

                                                                       
                                    {% else %}   
                                    <b><p>{{context.bdd}}</p></b>  
                                    {% endif %}
                                    
                                 
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->


                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <strong><h5> Option Bot :  </h5></strong>
                                <div class="card-body text">            
                                    
                                    <li><strong>Pour l'aide avec le cv</strong>: Cv</li>
                                    <li><strong>Pour aide avec la lettre de motivation</strong>: Lettre</li>
                                    <li><strong>Pour l'aide avec le offers</strong>: Offre</li>
        
                                         
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> 



          

{% endblock %}



{% block footer %}
{% include 'partial/footer.html' %}   
{% endblock %}

{% block rightsidebar %}
{% include 'partial/rightsidebar.html' %}   
{% endblock %}

{% block javascript %}

<!-- JAVASCRIPT -->
<!-- JAVASCRIPT -->
<script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
<script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
<script src="{% static 'libs/waypoints/lib/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'libs/jquery.counterup/jquery.counterup.min.js' %}"></script>

<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/jszip/jszip.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Datatable init js -->
<script src="{% static 'js/pages/datatables.init.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
{% endblock %}
